<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lime - Help</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div class="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Lime</a>
                    <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <p>
                The main Menu on your Account page provides you with access to Lime's functionality.<br><br>
                The Set Up Inventory option will take you to a form view where you can add items to your inventory. Item IDs must be unique.<br><br>
                The Inventory option will take you to your inventory view where you can add items to the cart and checkout customers.
                <br><br>The Accounting Stats option will take you to a statistics page that shows several statistics about your account.<br><br>
                The Generate Report option will take you to a PDF report of daily activity. (not implemented)<br><br>
                The Edit Inventory option will take you to your inventory view where you can edit the price and quantity of individual items.<br><br>
                The Log Out option will log you out of the service and return you to the index page.<br><br>
                For the best experience, it is recommended that you return to your account homepage (by clicking on the Home link in the top navbar) between going to different menu options; if not, you may experience some interface glitches.
            </p>
        </div>

        <div class="footer">
            <p>
                Brought to you by Null Pointer Productions with NodeJS
            </p>
        </div>
    </div>

</body>
</html>
