<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lime - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div class="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Lime</a>
                    <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create Account</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/about">About Lime</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <p>
                Welcome to Lime!<br>
                Use the navigation bar above to access the service.<br>
                For more information about Lime, please visit our <a href="/about">About</a> page.
            </p>
        </div>

        <div class="footer">
            <p>
                Brought to you by Null Pointer Productions with NodeJS
            </p>
        </div>
    </div>

</body>
</html>
