<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Lime</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

   <div class="header">
      <div class="navbar">
         <div class="navbar-inner">
            <a class="brand" href="#">Lime</a>
            <ul class="nav">
               <li class="active"><a href="#">Home</a></li>
               <li><a href="#">Sign In</a></li>
               <li><a href="#">About Lime</a></li>
            </ul>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="main-content">
         <p>
            Lime is an online, browser-based point of sale (POS) service for businesses of all sizes.
            Built on modern web technologies, Lime strives to give users the best experience possible.
         </p>
      </div>
   </div>

   <div class="footer">
      <p>
         Brought to you by Null Pointer Productions with NodeJS
      </p>
   </div>

</body>
</html>
