extends layout

block content
  p 
    | Lime is an online, browser-based point of sale (POS) service for businesses of all sizes.
  p
    | Built on modern web technologies, Lime strives to give users the best experience possible.