doctype 5
html
  head
    title #{title} - Home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        h1 Lime
    .container
        .main-content
            block content
    footer
        p Brought to you by Null Pointer Productions with NodeJS