<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lime - Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Lime</a>
                    <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="#">About Lime</a></li>
                    <li><a href="/database">Database Demo</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <form action="/login" method="post">
            <p>Log in to your account
                <!--<form action="/login" method="post">-->
                    <label for="POST-username">Username:</label>
                    <input id="POST-username" type="text" name="username"></input>
                    <label for="POST-password">Password:</label>
                    <input id="POST-password" type="password" name="password"></input>
                    <input type="submit" value="Log in">
                <!--</form>-->
            </p>

            <p>
                Don't have an account? Create one now!
                <!--<form action="/create" method="post">-->
                    <label for="POST-newuser">Enter a username:</label>
                    <input id="POST-newuser" type="text" name="newuser"></input>
                    <label for="POST-newpass">Enter a password:</label>
                    <input id="POST-newpass" type="password" name="newpass"></input>
                    <input type="submit" value="Create account">
                <!--</form>-->
            </p>
            </form>
        </div>

        <div class="footer">
            <p>Brought to you by Null Pointer Productions with NodeJS</p>
        </div>
    </div>
</body>
</html>
